 .body{
     font: 20px, Arial, sans-serif
 }
 .navbar {
     background-color: #066052;
     font-size: x-large;
     font-family: 'Times New Roman', Times, serif;
 }

.informacoes {
    font-size: 30sp;
    color: red;
}

.quem-somos{
    background-color: whitesmoke;
    color:blue;
}

/*margin cria uma margem externa ao bloco. Paddin cria uma margem interna ao bloco*/
.margin{ 
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: rgb(206, 219, 15) ;
    color: #065535;
}

.bg-footer{
    background-color: whitesmoke;
    color: black;
}